{% extends 'base.html' %}
{% load static %}
{% block title %}About{% endblock %}
{% block meta_description %}This is the about page{% endblock %} 
{% block content %}

    <!-- HOME -->
    <section class="section-hero overlay inner-page bg-image" style="background-image: url({% static 'home/images/hero_1.jpg' %});" id="home-section">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h1 class="text-white font-weight-bold">About Us</h1>
            <div class="custom-breadcrumbs">
              <a href="{% url 'index' %}">Home</a> <span class="mx-2 slash">/</span>
              <span class="text-white"><strong>About Us</strong></span>
            </div>
          </div>
        </div>
      </div>
    </section>


    
    <section class="site-section pb-0">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <a data-fancybox data-ratio="2" href="https://vimeo.com/317571768" class="block__96788">
              <span class="play-icon"><span class="icon-play"></span></span>
              <img src="{% static 'home/images/sq_img_6.jpg' %}" alt="Image" class="img-fluid img-shadow">
            </a>
          </div>
          <div class="col-lg-5 ml-auto">
            <h2 class="section-title mb-3">Why use CareerSearcher?</h2>
            <p class="lead">CareerSearcher is a great resourceful tool for anyone in search for a job! 
              Just type in what you're looking for and you'll get it within seconds.</p>
          </div>
        </div>
      </div>
    </section>

    <section class="site-section pt-0">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 mb-5 mb-lg-0 order-md-2">
            <a data-fancybox data-ratio="2" href="https://vimeo.com/317571768" class="block__96788">
              <span class="play-icon"><span class="icon-play"></span></span>
              <img src="{% static 'home/images/job_single_img_1.jpg' %}" alt="Image" class="img-fluid img-shadow">
            </a>
          </div>
          <div class="col-lg-5 mr-auto order-md-1  mb-5 mb-lg-0">
            <h2 class="section-title mb-3">CareerSearcher for companies</h2>
            <p class="lead">CareerSearcher helps companies by redirecting users to open job positions on company sites. 
              Although still a work in progress, we are currently working on a job posting application that allows anyone to post jobs onto the site!</p>
          </div>
        </div>
      </div>
    </section>
{% endblock %}