{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Job Listings{% endblock %}
{% block meta_description %}This is the job listings page{% endblock %} 
{% block content %}
    <!-- HOME -->
  <section class="section-hero home-section overlay inner-page bg-image" style="background-image: url({% static 'home/images/hero_1.jpg' %});" id="home-section">
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-12">
            <div class="mb-5 text-center">
              <h1 class="text-white font-weight-bold">The Easiest Way To Get Your Dream Job</h1>
              <p>Input your job preferences below to view all available jobs!</p>
            </div>
            <form method="post" class="search-jobs-form">
              {% csrf_token %}
              <div class="row mb-5">
                <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
                  <input type="text" class="form-control form-control-lg" name="Job_Title" placeholder="Job title, Company..." required>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
                  <input type="text" class="form-control form-control-lg" name="Job_Area" placeholder="State, City, Region..." required>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
                  <select class="selectpicker" data-style="btn-white btn-lg" name="Job_Type" data-width="100%" title="Select Job Type" required>
                    <option>Part Time</option>
                    <option>Full Time</option>
                  </select>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
                  <button type="submit" name="search_job" class="btn btn-primary btn-lg btn-block text-white btn-search"><span class="icon-search icon mr-2"></span>Search Job</button>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 popular-keywords">
                  <h3>Trending Keywords:</h3>
                  <ul class="keywords list-unstyled m-0 p-0">
                    <li><a  class="">Software Engineer</a></li>
                    <li><a  class="">Fullstack Developer</a></li>
                    <li><a class="">Software Developer</a></li>
                  </ul>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

    {% if get_data %}
    

    <form method="post" class="save-jobs-form">
      {% csrf_token %}
      <section class="site-section" id="next">
        <div class="container">
          <div class="row mb-5 justify-content-center">
            <div class="col-md-7 text-center">
                {% if get_data.total_jobs == 0 %}
                  <h2 class="section-title mb-2">No results found.</h2>
                {% else %}
                  <h2 class="section-title mb-2">{{ job_postings.paginator.count }} result(s) found.</h2>
            </div>
            <h5 class="text-center">Click on the job title to view the actual job application.</h5>
          </div>   
          
          <ul class="job-listings mb-5">
            {% for job_descriptions in job_postings %} <!-- "get_data.job_data" since job_data is a dictionary within dictioanry get_data-->
            <li class="job-listing d-block d-sm-flex pb-3 pb-sm-1 pt-sm-1 align-items-center">
              <a target="_blank" href="{{ job_descriptions.redirect_url }}"></a>
              <div class="job-listing-about d-sm-flex custom-width w-100 justify-content-between mx-4">
                <div class="job-listing-position custom-width w-50 mb-3 mb-sm-0">
                  <h2>{{ job_descriptions.job_title|striptags }}</h2>
                  <strong>{{ job_descriptions.company|striptags }}</strong>
                </div>

                <label class="checkbox-inline">
                  Save job <input type="checkbox" name="save" value="{{ job_descriptions.job_title|striptags }}; {{ job_descriptions.job_location|striptags }}; {{ job_descriptions.job_area|striptags }}; {{ job_descriptions.company|striptags }}; {{ job_descriptions.job_type }}; {{ job_descriptions.redirect_url }}" >
                </label>

                <div class="job-listing-location mb-3 mb-sm-0 custom-width w-25">
                  {% if job_descriptions.has_city == True %}
                    <span class="icon-room"></span> {{ job_descriptions.job_location|striptags }}, {{ job_descriptions.job_area|striptags }}
                  {% else %}
                    <span class="icon-room"></span> {{ job_descriptions.job_area|striptags }}
                  {% endif %}
                </div>
                <div class="job-listing-meta">
                  {% if job_descriptions.job_type == 'part_time' %}
                    <span class="badge badge-danger">Part Time</span>
                  {% else %}
                    <span class="badge badge-success">Full Time</span>
                  {% endif %}
                </div>
              </div>
            </li>
          {% endfor %}
        </ul>

        {% if user.is_authenticated %}
          <div class="centerize">
            {% for page in job_postings.paginator.page_range %}
              {% if page == job_postings.number %}
                <input type="hidden" name="next" value="{{ request.path }}?page={{ page }}">
              {% endif %}
            {% endfor %}
            <button type="submit" name="save_job" class="btn btn-primary btn-lg btn-block text-white btn-search col-sm-4">Save all checked jobs</button>
          </div>
        <br>
        {% endif %}
      </form>

        <div class="row pagination-wrap">
          <div class="col-md-6 text-center text-md-right"></div>
            <div class="custom-pagination ml-auto">
              <div class="d-inline-block">
                <span class="step-links"></span>
                  {% if job_postings.has_previous %}
                    <a href="?page=1" class="next">&laquo; First</a>
                    <a href="?page={{ job_postings.previous_page_number }}" class="prev">Previous</a>
                  {% endif %}
                
              <span class="current">
                  Page {{ job_postings.number }} of {{ job_postings.paginator.num_pages }}.
              </span>
      
              {% if job_postings.has_next %}
                  <a href="?page={{ job_postings.next_page_number }}" class="next">Next</a>
                  <a href="?page={{ job_postings.paginator.num_pages }}" class="next">Last &raquo;</a>
              {% endif %} 
            </div>
          </div>
        </div>
        {% endif %}
      </div>
    </section>
    {% if user.is_authenticated %}
    {% else %}
    <section class="py-5 bg-image overlay-primary fixed overlay" style="background-image: url({% static 'home/images/hero_1.jpg' %});">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-8">
            <h2 class="text-white">Want to keep track of jobs?</h2>
            <p class="mb-0 text-white lead">Make an account to be able to save jobs you're interested in!</p>
          </div>
          <div class="col-md-3 ml-auto">
            <a href="#" class="btn btn-warning btn-block btn-lg">Sign Up</a>
          </div>
        </div>
      </div>
    </section>

    {% endif %}
    
  {% endif %}

{% endblock %}
