{% extends 'base.html' %}
{% load static %}
{% block title %}Job Listings{% endblock %}
{% block meta_description %}This is the job listings page{% endblock %} 
{% block content %}
    <!-- HOME -->
  <section class="section-hero home-section overlay inner-page bg-image" style="background-image: url({% static 'home/images/hero_1.jpg' %});" id="home-section">
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-12">
            <div class="mb-5 text-center">
              <h1 class="text-white font-weight-bold">The Easiest Way To Get Your Dream Job</h1>
              <p>Input your job preferences below to view all available jobs!</p>
            </div>
            <form method="post" class="search-jobs-form">
              {% csrf_token %}
              <div class="row mb-5">
                <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
                  <input type="text" class="form-control form-control-lg" name="Job_Title" placeholder="Job title, Company...">
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
                  <input type="text" class="form-control form-control-lg" name="Job_Area" placeholder="State, City, Region...">
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
                  <select class="selectpicker" data-style="btn-white btn-lg" name="Job_Type" data-width="100%" title="Select Job Type">
                    <option>Part Time</option>
                    <option>Full Time</option>
                  </select>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
                  <button type="submit" class="btn btn-primary btn-lg btn-block text-white btn-search"><span class="icon-search icon mr-2"></span>Search Job</button>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 popular-keywords">
                  <h3>Trending Keywords:</h3>
                  <ul class="keywords list-unstyled m-0 p-0">
                    <li><a href="#" class="">UI Designer</a></li>
                    <li><a href="#" class="">Python</a></li>
                    <li><a href="#" class="">Developer</a></li>
                  </ul>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

    
    <section class="site-section" id="next">
      <div class="container">
        <div class="row mb-5 justify-content-center">
          <div class="col-md-7 text-center">
            {% if counter == 0 %}
            <h2 class="section-title mb-2">No results found.</h2>
            {% else %}
            <h2 class="section-title mb-2">{{ counter }} result(s) found.</h2>
          </div>
        </div>
        
        
        <ul class="job-listings mb-5">
          {% for job_descriptions in job_data %}
          <li class="job-listing d-block d-sm-flex pb-3 pb-sm-0 align-items-center">
            <a target="_blank" href="{{ job_descriptions.redirect_url }}"></a>
            <div class="job-listing-logo">
              <img src='' alt="Image" class="img-fluid">
            </div>

            <div class="job-listing-about d-sm-flex custom-width w-100 justify-content-between mx-4">
              <div class="job-listing-position custom-width w-50 mb-3 mb-sm-0">
                <h2>{{ job_descriptions.job_title|striptags }}</h2>
                <strong>{{ job_descriptions.company|striptags }}</strong>
              </div>
              <div class="job-listing-location mb-3 mb-sm-0 custom-width w-25">
                {% if job_descriptions.has_city == True %}
                <span class="icon-room"></span> {{ job_descriptions.job_location|striptags }}, {{ job_descriptions.job_area|striptags }}
                {% else %}
                <span class="icon-room"></span> {{ job_descriptions.job_area|striptags }}
                {% endif %}
              </div>
              <div class="job-listing-meta">
                {% if job_descriptions.job_type == 'part_time' %}
                <span class="badge badge-danger">Part Time</span>
                {% else %}
                <span class="badge badge-success">Full Time</span>
                {% endif %}
              </div>
            </div>
          </li>
          {% endfor %}
          
        </ul>

        <div class="row pagination-wrap">
          <div class="col-md-6 text-center text-md-left mb-4 mb-md-0">
            {% if counter < 7%}
            <span>Showing 1-{{ counter }} of {{counter}} job(s)</span>
            {% else %}
            <span>Showing 1-7 of {{counter}} jobs</span>
            {% endif %}
          </div>
          <div class="col-md-6 text-center text-md-right">
            <div class="custom-pagination ml-auto">
              <a href="#" class="prev">Prev</a>
              <div class="d-inline-block">
              <a href="#" class="active">1</a>
              <a href="#">2</a>
              <a href="#">3</a>
              <a href="#">4</a>
              </div>
              <a href="#" class="next">Next</a>
            </div>
          </div>
        </div>
        {% endif %}
      </div>
    </section>
    
    <section class="py-5 bg-image overlay-primary fixed overlay" style="background-image: url({% static 'home/images/hero_1.jpg' %});">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-8">
            <h2 class="text-white">Want to Keep track of your jobs?</h2>
            <p class="mb-0 text-white lead">Make an account to be able to save jobs you're interested in!</p>
          </div>
          <div class="col-md-3 ml-auto">
            <a href="#" class="btn btn-warning btn-block btn-lg">Sign Up</a>
          </div>
        </div>
      </div>
    </section>

{% endblock %}