{% extends 'base.html' %}
{% load static %}
{% block title %}Saved Jobs{% endblock %}
{% block meta_description %}This is the Jobs Saved page{% endblock %} 
{% block content %}
    <!-- HOME -->
    <section class="section-hero overlay inner-page bg-image" style="background-image: url({% static 'home/images/hero_1.jpg' %});" id="home-section">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h1 class="text-white font-weight-bold">Saved Jobs</h1>
            <div class="custom-breadcrumbs">
              <a href="#">Home</a> <span class="mx-2 slash">/</span>
              <span class="text-white"><strong>Saved Jobs</strong></span>
            </div>
          </div>
        </div>
      </div>
    </section>

    {% if user.is_authenticated %}
      <section class="site-section" id="next">

        <div class="container">
          <div class="row mb-5 justify-content-center">
            <div class="col-md-7 text-center">
              {% if total_jobs == 0 %}
                <h2 class="section-title mb-2">Hi {{ user }}. You have no jobs saved.</h2>
              {% else %}
              <h2 class="section-title mb-2">Hi {{ user }}. You have {{ total_jobs }} jobs saved.</h2>
            </div>
          </div>

          <ul class="job-listings mb-5">
            {% for job_descriptions in job_data %}
            <li class="job-listing d-block d-sm-flex pb-3 pb-sm-0 align-items-center">
              <a target="_blank" href="{{ job_descriptions.redirect_url }}"></a>
              <div class="job-listing-about d-sm-flex custom-width w-100 justify-content-between mx-4">
                <div class="job-listing-position custom-width w-50 mb-3 mb-sm-0">
                  <h2>{{ job_descriptions.job_title|striptags }}</h2>
                  <strong>{{ job_descriptions.company|striptags }}</strong>
                </div>
                <div class="job-listing-location mb-3 mb-sm-0 custom-width w-25">
                  {% if job_descriptions.has_city == True %}
                    <span class="icon-room"></span> {{ job_descriptions.job_location|striptags }}, {{ job_descriptions.job_area|striptags }}
                  {% else %}
                    <span class="icon-room"></span> {{ job_descriptions.job_area|striptags }}
                  {% endif %}
                </div>
                <div class="job-listing-meta">
                  {% if job_descriptions.job_type == 'part_time' %}
                    <span class="badge badge-danger">Part Time</span>
                  {% elif job_descriptions.job_type == 'full_time' %}
                    <span class="badge badge-success">Full Time</span>
                  {% endif %}
                </div>
              </div>
            {% endfor %}
          </ul>

          <div class="row pagination-wrap">
            <div class="col-md-6 text-center text-md-left mb-4 mb-md-0">
              {% if counter > 1 %}
                <span>Showing 1-{{ counter }} of {{counter}} jobs</span>
              {% elif counter == 1 %}
                <span>Showing 1-{{ counter }} of {{counter}} job</span>
              {% endif %}
            </div>
            <div class="col-md-6 text-center text-md-right">
              <div class="custom-pagination ml-auto">
                <a href="#" class="prev">Prev</a>
                <div class="d-inline-block">
                <a href="#" class="active">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
              </div>
                <a href="#" class="next">Next</a>
            </div>

            {% endif %} <!--this is for if there are results-->
        </div>

    {% else %}
      <div class="col-md-8">
        <h2 class="text-black">Want to keep track of certain jobs?</h2>
        <p class="mb-0 text-grey lead">Make an account to be able to save jobs you're interested in!</p>
      </div>
      <div class="col-md-3 ml-auto">
        <a href="{% url 'login' %}" class="btn btn-warning btn-block btn-lg">Log in</a>
      </div>
    {% endif %}
    </section>
  
  {% endblock %}